html {
    height: 100%;
}

body {
    background-color: lightgray;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-between;
}

#header {
    font-size: xx-large;
    display: flex;
    padding: 40px;
    justify-content: center;
    background-color: orange;
    font-weight: bold;
}


#grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.grid-row{
    display: flex;
    flex-direction: row;
    /* border-left: 1px solid; */
    /* border-right: 1px solid; */
}

/* #top-row{
    border-top: 1px solid;
}

#bottom-row{
    border-bottom: 1px solid;
} */

.cell {
    border: 1px solid;
    border-radius: 5%;
    background-color: white;
}

.init {
    width: 40px;
    height: 40px;
}

#footer{
    background-color: gray;
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 10%;
}
