body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    font-size: xx-large;
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: orange;
    font-weight: bold;
}

#full-container{
    height: 100%;
}

#grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.grid-row{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
}

.cell {
    border: 2px solid;
    border-radius: 10%;
    width: 40px;
    height: 40px;
}